
body {
  background-color: lightgray;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  border-style: double;
}
p {
  color: black;
  font-family: Times New Roman;
}
